<div style="margin-left: 50px;margin-right: 50px;">
  <div class="ui compact segment">
    <div class="ui grid">
     <h1><a class="ui huge teal ribbon label"><font size="6"><font color="WHITE">Our Approaches</font></a></font></h1>
     
     <div class="sixteen wide column">
      <div class="left floated left aligned eight wide column">
        <div class="ui compact segment">
          <h3><a class="ui  red left ribbon label">Lean Development Process</a></h3>
          <p>In today's market place, where every company is looking at developing innovative services and products, the true That is why; we implement Lean Product Development process that creates a
            true collaboration framework with  identifying real-time value streams,continuous improvement and quick iterations.</p>
          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
            <h3><a class="ui  red left ribbon label">Agile Methodology</a></h3> <p>Our agile development and management methodologies will sail you through the entire application development life cycle, equipping you with shorter development cycles.We adopt an iterative method to gather requirements and aligning the requirements to design the right product,eliminating the need of re-work and ensure quick launch to beat the competition.</p>

          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
            <h3><a class="ui  red left ribbon label">Parallel Testing and Development</a></h3>
            <p>Our commitment to quality begins at the start of the project and is drawn into every stage of software development life cycle.It helps us to manage and contain risks at every level. Robust 
              automation frameworks and intelligent tools help us to make sure that your applications are error-free and are always running with minimum 
              disruption.</p>
            </div>
          </div>
        </div>
        <div class="sixteen wide column">
          <div class="left floated left aligned eight wide column">
            <div class="ui compact segment">
              <h3><a class="ui  red left ribbon label">Integrated development for continuous delivery</a></h3>
              <p>We ensure that every change made to the application is fit to be released. We continuously adjust the systems in the backdrop of shifting market needs, evolving business requirements and customer's expectations. Our continuous delivery and deployment capability help us to release any version at the push of a button.Our testers, developers and support operators work in tandem to automate andstreamline the build development, testing cycle and release process.</p>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>