  <div style="margin-left: 50px;margin-right: 50px;">
  	<br>
  	<br>
  	<div class="ui raised segment">
  		<div class="ui grid">
  			<h1><a class="ui teal ribbon label"><font size="6"><font color="WHITE">Services</font></a></font></h1>
  			<br>
  			<br>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment">
  						<h3><a class="ui  red right ribbon label">Custom Application Development</a></h3>
  						<p>Our custom application development service provides clients, cost effective solution for the problems i.e database restructuring, deployment, designing, maintaining, limited functionality development, etc that can arise in sophisticate business applications. We believe in building relation so it…</p>
  					</div>
  				</div>
  			</div>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment" style="height:224px">
  						<h3><a class="ui  red right ribbon label">Application Maintenance Service</a></h3>
  						<p>A good application is not just created once and left for a lifetime,there is always a road to progress, upgrade and maintain and here we declare our presence. Our Ruby on rails application maintenance is proven…</p>
  					</div>
  				</div>
  			</div>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment" style="height:224px">
  						<h3><a class="ui  red right ribbon label">Apps for Web &amp; Mobile</a></h3>
  						<p>We support your initiative to drive market leadership with an ever expanding apps portfolio. Achieve your strategic goals with our innovative, scalable and speed to market web and mobile applications.We help you mobilize your businesses for…</p>
  					</div>
  				</div>
  			</div>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment"style="height:224px">
  						<h3><a class="ui  red right ribbon label">UI/UX Design</a></h3>
  						<p>We help you deliver beautiful UI designs that are highly intuitive and offer amazing user experience. We work across a spectrum of Web Interface, Brand and Web/Mobile apps Designs, and enterprise applications re-designusing HTML5, CSS3, XML, Responsive…</p>
  					</div>
  				</div>
  			</div>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment" style="height:224px">
  						<h3><a class="ui  red right ribbon label">Front End Development</a></h3>
  						<p>We offer intuitive, clean and responsive front end development for interactive, promotional and mobile websites. We use Angular.js,Ember.js, Backbone.js that includes full stacks such as Express.js,Meteor.js etc.</p>
  					</div>
  				</div>
  			</div>
  			<div class="five wide column">
  				<div class="left floated left aligned six wide column">
  					<div class="ui compact segment"style="height:224px">
  						<h3><a class="ui  red right ribbon label">SaaS Product Developmen</a></h3>
  						<p>We not only help you building innovative applications but help you maintain them with  guaranteed service levels. We not only ensure 24x7 availability and high erformance of your core applications, we also help your applications to scale…</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

