<div style="margin-left: 50px;margin-right: 50px;">
  <div class="ui compact segment">
    <div class="ui grid">
      <h1><a class="ui huge teal ribbon label"><font size="6"><font color="WHITE">How We Do It</font></a></font></h1>
      <br>
      <br>

      <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
            <h3><a class="ui  red right ribbon label">Lean Product Development</a></h3>
            <p><i><b>We believe in Lean Product Development process, 
              focusing on constant idea validation, product feature evaluation, 
              continuous improvement &amp; quick iterations.</i></b></p>
            </div>
          </div>
        </div>

        <div class="four wide column">

          <div class="left floated left aligned eight wide column">
            <div class="ui compact segment">
             <h3><a class="ui red right ribbon label">Agile Project Management</a></h3>
             <p><i><b>Our work culture &amp; processes are geared towards 
              agile, lean &amp; collaborative projects ensuring effective product 
              scoping, faster delivery,and as a result,a quick to market product.</b></i></p>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="left floated left aligned eight wide column">
            <div class="ui compact segment">
             <h3><a class="ui  red right ribbon label">Test Driven Development</a></h3>
             <p><b>Development process which stresses on Tests first. 
              Test Automation &amp; Quality Assurance which ensures that the 
              applications are error free in every release.</b></p>
            </div>
          </div>
        </div>


        <div class="four wide column">
          <div class="left floated left aligned eight wide column">
            <div class="ui compact segment">
             <h3><a class="ui medium red right ribbon label">Continuous Delivery &amp; Deployment</a></h3>
             <p><b>New features are released to production as quickly as
               possible. Our processes are geared up for continuous integration and 
               delivery ensuring speed of releases.</b></p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>    