 <div style="margin-left: 50px;margin-right: 50px;">
   <br>
   <br>
   <div class="ui raised segment">
    <div class="ui grid">
     <h1><a class="ui teal ribbon label"><font size="6"><font color="WHITE">What We Do</font></a></font></h1>
     <br>]
     <br>

     <div class="four wide column">
      <div class="left floated left aligned eight wide column">
        <div class="ui compact segment">
          <h3><a class="ui  red right ribbon label">UI &amp; UX Design</a></h3>
          <p><b>We create beautiful &amp; engaging User Experiences 
            delivering Design &amp; Branding which is consistent across Web, Tablet 
            &amp; Mobile platforms.</b></p>
          </div>
        </div>
      </div>

      <div class="four wide column">

        <div class="left floated left aligned eight wide column">
         <div class="ui compact segment">
          <h3><a class="ui  red right ribbon label">Front End Development</a></h3>
          <p><b>Front End development which is intuitive, clean and 
            responsive. We work with Angular.js, Ember.js, Backbone.js, including 
            full stacks like Express.js etc.</b></p>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
            <h3><a class="ui  red right ribbon label">Web &amp; Mobile Apps</a></h3>
            <p><b>We build products which are innovative, modular &amp;
             scalable. We practice Agile &amp; Lean Product development using Ruby 
             on Rails, Javascript, Node.js, Python.</b></p>
           </div>
         </div>
       </div>


       <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
            <h3><a class="ui  red right ribbon label"><b>Cloud Scaling &amp; DevOps</a></h3>
            <p>We not only build your applications, but also manage 
              &amp; scale them. Our teams manage 24/7 desks ensuring high 
              availability, security &amp; operations.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>

