  <div style="margin-left: 50px;margin-right: 50px;">
   <br>
   <br>
   <div class="ui raised segment">
    <div class="ui grid">
      <h1><a class="ui teal ribbon label"><font size="6"><font color="WHITE">Who We Serve</font></a></font></h1>
      <br>]
      <br>

      <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
           <h3><a class="ui  red right ribbon label">Start-ups &amp; Accelerators</a></h3>
           <p><b>We love Start-ups. We work with Start-ups &amp; 
            Accelerators across the world in bringing their ideas to life. Whether 
            it is building a MVP, developing a complex product, creating a dedicated
            tech team, you can count us in.</b></p>
          </div>
        </div>
      </div>

      <div class="four wide column">

        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
           <h3><a class="ui  red right ribbon label">Digital Agencies</a></h3>
           <p><b>Our partners love us. We partner with Digital 
            Agencies - Design &amp; Branding firms, Marketing Agencies, Technology 
            Consultants - to deliver brilliant solutions for Websites, Social Media,
            Mobile Apps to their clients.</b></p>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
           <h3><a class="ui  red right ribbon label">SaaS Product Companies</a></h3>
           <p><b>Planning a large scale SaaS application? We partner 
            with SaaS companies for outsourced product development or technical team
            augmentation. Creating &amp; managing complex SaaS products is one of 
            our core strengths.</b></p>
          </div>
        </div>
      </div>


      <div class="four wide column">
        <div class="left floated left aligned eight wide column">
          <div class="ui compact segment">
           <h3><a class="ui  red right ribbon label">Enterprises</a></h3>
           <p><b>We work with Enterprises creating applications aimed
            at revenue generation, on-line marketing, productivity etc. Our analysts&amp; developers  understand the business domain and come 
            up with creative solutions for difficult problems.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

