
<div style="margin-left: 50px;margin-right: 50px;">
 <br>
 <br>
 <div class="ui raised segment">
  <div class="ui grid">
   <h1><a class="ui teal ribbon label"><font size="6"><font color="WHITE">Blog</font></a></font></h1>
   <br>
   <br>


   <div class="five wide column">
    <div class="left floated left aligned eight wide column">
      <div class="ui compact segment" style="height:244px;width:486px">
        <h3><a class="ui  red right ribbon label">Using CanCanCan for Authorization</a></h3>
        <p>CanCan is an authorization library for Ruby on Rails 
          which restricts what resources a given user is allowed to access. All 
          permissions are defined in a single location (the Ability class) and not duplicated across controllers, views, and database queries.</p>

        </div>
      </div>
    </div>
    <div class="five wide column">
    </div>
    <div class="five  wide column">
      <div class="left floated left aligned eight wide column">
        <div class="ui compact segment" style="width:250px;">
          <div class="ui input">
            <input placeholder="Search..." type="text"><br><br><div class="ui purple button">Search</div>
            
          </div>
        </div>
      </div>
    </div>


    <div class="seven wide column">

      <div class="left floated left aligned eight wide column">
       <div class="ui compact segment" style="height:244px">
        <h3><a class="ui  red right ribbon label">Using Devise for Authentication</a></h3>
        <p>Devise is a popular authentication solution for Rails 
          applications. It provides a full gamut of features, and can be 
          configured to meet all, but the most unusual, requirements.</p>

        </div>
      </div>
    </div>
    <div class="nine wide column">
    </div>
    <div class="five wide column">
      <div class="left floated left aligned eight wide column">
        <div class="ui compact segment" style="height:244px;width:486px">
          <h3><a class="ui  red right ribbon label">Getting started with RoR on your machine(Ubuntu)</a></h3>                <p>sudo apt-get install git-core curl zlib1g-dev 
          build-essential libssl-dev libreadline-dev libyaml-dev libsqlite3-dev 
          sqlite3 libxml2-dev libxslt1-dev libcurl4-openssl-dev 
          python-software-properties</p>
          
        </div>
      </div>
    </div>

	{{!-- <div class="four wide column">
    <div class="left floated left aligned eight wide column">
<div class="ui compact segment">
<h3><a class="ui  red right ribbon label"><b>Cloud Scaling &amp; DevOps</a></h3>
                <p>We not only build your applications, but also manage 
&amp; scale them. Our teams manage 24/7 desks ensuring high 
availability, security &amp; operations.</b></p>
</div>
</div>
</div> --}}
</div>
</div>

