<div style="margin-left: 50px;margin-right: 50px;">
  <div class="ui horizontal segment">
    <div class="ui grid">
     <h1><a class="ui huge teal ribbon label"><font size="6"><font color="WHITE">Careers</font></a></font></h1>
     <div class="sixteen wide column">


      <div class="ui vertical  segment">
        <div class="left floated left aligned eight wide column">
          <div class="five wide column">
            <h3><a class="ui  red  label">Business Development Manager/BDM</a></h3>
            <div class="entry-content">
              <i>February 6, 2015</i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ui vertical  segment">
        <div class="left floated left aligned eight wide column">
          <div class="five wide column">
            <h3><a class="ui  red  label">ROR Trainee</a></h3>
            <div class="entry-content">
              <i>February 6, 2015</i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical  segment">
        <div class="left floated left aligned eight wide column">
          <div class="five wide column">
            <h3><a class="ui  red  label">ROR(Ruby on Rails)</a></h3>
            <div class="entry-content">
              <i>February 6, 2015</i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ui vertical  segment">
        <div class="left floated left aligned eight wide column">
          <div class="five wide column">
            <h3><a class="ui  red  label">Senior ROR Developer / Lead ROR</a></h3>
            <div class="entry-content">
              <i>February 6, 2015</i>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>