<br><br>

<div style="margin-left:50px;margin-right:50px;">
  <div class="ui grid">
    <div class="four wide columns ">

     <div class="ui left  aligned grid">
      <div class="left floated left aligned six wide column">
        <div class="ui segment">
          <h1><a class="ui teal ribbon label"><font size="4"><font color="WHITE">Contact Us</font></a></font></h1>
          <div class="ui corner labeled input">
            <input placeholder="Name" type="text">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div><br><br>
          <div class="ui corner labeled input">
            <input placeholder="Email" type="text">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div><br><br>
          <div class="ui corner labeled input">
            <input placeholder="Contact Number" type="text">
            <div class="ui corner label">
              <i class="asterisk icon" color="RED"></i>
            </div>
          </div><br><br>
          <div class="ui compact menu">
            <div class="ui simple dropdown item">
              <i class="dropdown icon"></i>
              Select Budget
              <div class="menu">
                <div class="item">$00</div>
                <div class="item">$00-$25k</div>
                <div class="item">$25k-$50k</div>
                <div class="item">$50-100k</div>
                <div class="item">$100k+</div>
              </div>
            </div>
          </div>
          <br><br>
          <div class="ui huge icon input">
            <input placeholder="Note" type="text">
            <div class="ui corner label">
            </div>
          </div><br><br>
          <div><div class="btn btn-primary">Submit</div></div>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="four wide columns">

      <div class="ui right aligned grid">
        <div class="right floated left aligned sixteen wide column">
          <div class="ui segment">
           <div class="Quick_Contact"><h2> <font color="RED">Quick Contact</font></h2></div>
           <div class="back-g">
            <div class="address">
              <span class="company">Rails on Rocket</span> <br>
              Abcd and Main Tech Center,<br>

              000 N. Nirale Rd,<br>

              xyz, CA 00000<br>

              +1 (408) 824 - 00000

            </address>
          </div>
        </div>
      </div>
    </div>